<div>
  <hr>
  <input id="comments__expandBtn" type="checkbox">
  <label class="comments__expandBtn__label" for="comments__expandBtn">
    <h3 class="claimLink">Comments</h3>
    <span class="comments__expandBtn__icon material-icons-outlined"></span>
  </label>
  <div id="comments" class="comments">
    {{#unless nojs}}
    <p id="nojs">
      <a href="{{claim.RelUrl}}?nojs=1">
        Hi! Looks like you have JavaScript turned off. Click here to view comments, keep in mind they may take a bit
        longer to load.
      </a>
    </p>
    {{else}}
    {{#each comments}}
    <div class="comment">
      {{#with this.Channel}}
        <a href="{{this.Channel.RelUrl}}">{{> 'partials/channel'}}</a>
      {{/with}}
      <div>
        {{{this.Comment}}}
        <p title="{{this.Time}}">
          {{this.RelTime}} |
          <span class="material-icons-outlined">thumb_up</span> {{this.Likes}}
          <span class="material-icons-outlined">thumb_down</span> {{this.Dislikes}}
        </p>
      </div>
    </div>
    {{/each}}
    {{/unless}}
  </div>
  <div id="spinner" class="center">
    <div class="spinner"></div>
  </div>
</div>
<hr>