<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <meta name="thumbnail" content="{{config.domain}}{{claim.ThumbnailUrl}}">
  <meta name="description" content={{claim.DescriptionTxt}}>

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content="{{claim.Url}}">
  <meta property="og:title" content="{{claim.Title}}">
  <meta property="og:image" content="{{config.domain}}{{claim.ThumbnailUrl}}">
  <meta property="og:description" content="{{claim.DescriptionTxt}}">
  {{#if document}}
  <meta property="og:type" content="article">
  {{else}}
  <meta property="og:type" content="video.other">
  {{/if}}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{claim.Url}}">
  <meta name="twitter:title" content="{{claim.Title}}">
  <meta name="twitter:description" content="{{claim.DescriptionTxt}}">
  <meta name="twitter:image" content="{{config.domain}}{{claim.ThumbnailUrl}}">

  {{#if document}}
  <link rel="stylesheet" href="/static/css/video.css" />
  <link rel="stylesheet" href="/static/css/article.css" />
  {{else}}
  <link rel="stylesheet" href="/static/css/plyr.css" />
  <link rel="stylesheet" href="/static/css/video.css" />
  {{/if}}

  {{#if download}}
  <style>
    .dl {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .largeIcon {
      font-size: 36px;
    }

    .videoMeta__download {
      margin-top: 0;
    }
  </style>
  {{/if}}

  <link rel="stylesheet" href="/static/css/comments.css" />
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{claim.Title}} - Librarian</title>
</head>

<body>
  <p class="jsonData" id="commentData">
    {"claimId": "{{claim.ClaimId}}", "channelId": "{{claim.Channel.Id}}", "channelName": "{{claim.Channel.Name}}"}
  </p>

  {{> 'partials/header' }}

  <main>
    {{#if download}}
    <div class="dl">
      <span class="material-icons-outlined largeIcon">
        report_problem
      </span>
      <p>This file could not be displayed.</p>
      <div class="videoDesc__meta">
        <div class="videoDesc__meta__item videoDesc__meta__item-btn">
          <div>
            <a href="{{stream}}?download=1" rel="nofollow noreferrer">
              <span class="material-icons-outlined">download</span>
            </a>
            <a href="{{stream}}?download=1" rel="nofollow noreferrer">Download</a>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#unless document}}
    {{#unless download}}
    {{> 'partials/videoPlayer' }}
    {{/unless}}

    <h2>{{claim.Title}}</h2>

    <div class="videoData">
      <div class="videoData__left">
        {{> 'partials/description' }}

        {{> 'partials/comments' }}
      </div>

      {{#unless document}}
      {{> 'partials/relVids'}}
      {{/unless}}
    </div>
    {{else}}

    <h1 class="postTitle">{{claim.Title}}</h1>
    <p><b>{{claim.Date}}</b></p>

    {{> 'partials/claimMeta' }}

    <article>
      {{{document}}}
    </article>

    <p class="videoDesc__claimId">Claim ID: {{claim.ClaimId}}</p>

    {{> 'partials/comments' }}
    {{/unless}}
  </main>

  {{> 'partials/footer' }}

  {{#unless nojs}}
  <script src="/static/js/comments.js"></script>
  {{#unless document}}
  <script src="/static/js/plyr.js"></script>
  {{#if isHls}}
  <script src="/static/js/hls.js"></script>
  <script src="/static/js/plyr-hls.js"></script>
  {{else}}
  <script src="/static/js/player.js"></script>
  {{/if}}
  {{/unless}}
  {{/unless}}
</body>

</html>