<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/plyr.css" />
</head>

<body>
  {{> 'partials/videoPlayer' }}

  <script src="/static/js/plyr.js"></script>
  <script>
    const player = new Plyr('#player');

    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case 'j':
          player.rewind(15);
          break;
        case 'l':
          player.forward(15);
          break;
      }
    });
  </script>
</body>

</html>