<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <style>
    .channelThumbnail {
      object-fit: scale-down;
    }
  </style>

  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{query.query}} - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <div class="claimsGrid">
      {{#each results}}
      {{> 'partials/claim' }}
      {{/each}}
    </div>

    <br><br>

    <div class="pageSelector">
      {{#equal query.prevPage "0" }}
      {{else}}
      <a class="claimLink" href="/search?q={{query.query}}&page={{query.prevPage}}">Previous page</a>
      {{/equal}}
      <a class="claimLink" href="/search?q={{query.query}}&page={{query.nextPage}}">Next page</a>
    </div>
  </main>

  {{> 'partials/footer' }}
</body>

</html>